$color-body-background: #c5e4e7;
$color-input-background: #f3f9fa;
$color-button-inactive: #0d686d;
$color-border-people: #e17052;
$color-button-highlight: #9fe8df;

$color-font-primary: #3d6666;
$color-font-secondary: #5e7a7d;
$color-font-precurser: #9ebbbd;
$color-font-active: #00474b;
$color-font-custom-btn: #547878;
$color-font-per-person: #7f9d9f;
$color-font-total: #26c2ae;
$color-font-reset-button: rgba(0, 71, 75, 0.35);

$color-box-shadow: rgba(0, 71, 75, 0.3);

$color-white: #fff;
